$cardTextDimension: 125px;
$cardHeight: 250px;
$cardWidth: 300px;

.card {
  margin: 10px;
  width: $cardWidth;
  height: $cardHeight;
}

.card-body {
  height: 100%
}

.card-text {
  height: $cardTextDimension;
  background-color: aliceblue;

}

.card-text .description {
  overflow-y: scroll;
}

.action-rows {
  width: 100%;
}

