<div class="card" appHover>
  <div class="card-body" fxLayout="column" fxLayoutAlign="space-between center ">
    <div style="width: 100%">
      <h5 class="card-title">{{user.userName}}</h5>
      <div class="card-text" fxLayout="column">

        <div class="form-group" *ngIf="editState">
          <label for="email">Email address <span style="font-size: 0.8em">({{user.userEmail}})</span></label>
          <input
            #inputEmailReference
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            [(ngModel)]="user.userEmail">
        </div>
        <div *ngIf="!editState">
          <h5>{{user.userEmail}}</h5>
        </div>
        <div class="description">{{user.userDescription}}</div>
      </div>
    </div>

    <div fxLayout="row" class="action-rows" fxLayoutAlign="space-between center">
      <a href="#" class="card-link" (click)="edit()" *ngIf="!editState">Edit</a>
      <a href="#" class="card-link" (click)="cancelEdit()" *ngIf="editState">Cancel</a>
      <a href="#" class="card-link" (click)="save()" *ngIf="editState">Save</a>
      <a href="#" class="card-link" (click)="remove()" *ngIf="!editState">Remove</a>
    </div>

  </div>
</div>
